/* Basscss UI Utilities */

@import "basscss-ui-utility-button-sizes";
@import "basscss-ui-utility-groups";
@import "basscss-ui-utility-disclosure-states";

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}

