/*
 * Basscss UI Utilities
 */

:root {
  --border-radius: 3px;
}

.rounded-top    { border-radius: var(--border-radius) var(--border-radius) 0 0 }
.rounded-right  { border-radius: 0 var(--border-radius) var(--border-radius) 0 }
.rounded-bottom { border-radius: 0 0 var(--border-radius) var(--border-radius) }
.rounded-left   { border-radius: var(--border-radius) 0 0 var(--border-radius) }

.not-rounded { border-radius: 0 }

.no-border-bottom:not(:focus) { border-bottom-color: transparent }
.no-border-right:not(:focus)  { border-right-color: transparent }

/* Remove white space around inline-block elements */
.group {}
.group-item {}

.button-narrow {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}

.target-group .target-show { display: none !important }
.target-group:target .target-show { display: block !important }
.target-group:target .target-hide { display: hide !important }

.hover-group .hover-show { display: none !important }
.hover-group:hover .hover-show { display: block !important }
.hover-group:hover .hover-hide { display: none !important }

.tooltip {
  position: relative;
}

.tooltip:after {
  content: attr(aria-label);
  position: absolute;
  white-space: nowrap;
  display: none;
  /*
  padding: calc(var(--ui-padding-y / 2)) calc(var(--ui-padding-x / 2));
  */
  padding: .125em .25em;
}

.tooltip:hover:after {
  display: block;
}

.tooltip-top:after    { bottom: 100% }
.tooltip-bottom:after { top: 100% }
.tooltip-center:after { left: 50%; transform: translateX(-50%); }
.tooltip-right:after  { left: 0 }
.tooltip-left:after   { right: 0 }

.tooltip-dark:after {
  color: white;
  background-color: rgba(#000, .875);
  border-radius: var(--border-radius);
}

